.flex-div {
  display: flex;
}
.layer {
  width: 600px;
  height: 200px;
  background-color: red;
}
· > div {
  width: 400px;
  height: 100px;
  background-color: orange;
}
· > h1 {
  background-color: aquamarine;
  font-size: 20px;
  text-decoration: aqua;
}
